**/node_modules/**
**/generated/**
**/dist/**
**/artifacts/**
**/public/**
**/build/**

pnpm-lock.yaml
coverage
abi
artifacts
foundry-artifacts
foundry-cache
cache
node_modules
solc
LinkToken.json
typechain
src

# Ignore TS definition and map files
**/**.d.ts
**/**.d.ts.map

docs/
venv/

*.md
.github/**/*.yml
.golangci.yml
.solhint.json
